In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from IPython.display import display, Markdown, Latex, HTML

In [3]:
import sys
sys.path.append('./')

import pandas as pd
import pprint

from privex.basic import Schema, Query, Question
from privex.basic import generate_explanation_predicates
from privex.explanation_session import ExplanationSession

import logging
logger = logging.getLogger(__name__)
logging.getLogger().setLevel(logging.INFO)

# Some changes to the system ...
## .... (and they will be introduced through the experiment)
1. Limit queries to AVG queries
2. Limit questions to comparison
3. Change impact function to normalized difference
4. Change rank bound to confidence interval of rank
5. Add a reference predicate to the explanation table

# Load dataset and schema

In [4]:
df = pd.read_csv('./data/adult.csv')
schema = Schema.from_json('./data/adult.json')
display(Markdown('## adult (first two rows)'))
display(df.head(2))
display(Markdown('## schema (attribute "education" and "high_income")'))
pprint.pprint(schema.domains['education'].as_dict(), compact=True)
pprint.pprint(schema.domains['high_income'].as_dict(), compact=True)

## adult (first two rows)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class,high_income
0,"(20, 30]",Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K,0
1,"(30, 40]",Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K,0

## schema (attribute "education" and "high_income")

{'attr': 'education',
 'vals': ['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th',
          'Prof-school', '7th-8th', 'Bachelors', 'Masters', 'Doctorate',
          '5th-6th', 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool'],
 'vmax': None,
 'vmin': None}
{'attr': 'high_income', 'vals': None, 'vmax': 1, 'vmin': 0}

# Set up the parameters for the explanation session

In [5]:
gamma = 0.95
attributes = ['marital-status', 'occupation', 'age', 'relationship', 'race', 'workclass', 'sex', 'native-country']
predicates = generate_explanation_predicates(attributes, schema, strategy='1-way marginal')
es = ExplanationSession(df, schema, gamma, predicates)
display(Markdown(f'## The confidence level $\gamma$ is set at {gamma}'))
display(Markdown(f'## We consider the following {len(predicates)} predicates for future explanation:'))
pprint.pprint(predicates)

## The confidence level $\gamma$ is set at 0.95

## We consider the following 94 predicates for future explanation:

[`marital-status` is "Never-married",
 `marital-status` is "Married-civ-spouse",
 `marital-status` is "Widowed",
 `marital-status` is "Divorced",
 `marital-status` is "Separated",
 `marital-status` is "Married-spouse-absent",
 `marital-status` is "Married-AF-spouse",
 `occupation` is "Machine-op-inspct",
 `occupation` is "Farming-fishing",
 `occupation` is "Protective-serv",
 `occupation` is "nan",
 `occupation` is "Other-service",
 `occupation` is "Prof-specialty",
 `occupation` is "Craft-repair",
 `occupation` is "Adm-clerical",
 `occupation` is "Exec-managerial",
 `occupation` is "Tech-support",
 `occupation` is "Sales",
 `occupation` is "Priv-house-serv",
 `occupation` is "Transport-moving",
 `occupation` is "Handlers-cleaners",
 `occupation` is "Armed-Forces",
 `age` is "(20, 30]",
 `age` is "(30, 40]",
 `age` is "(40, 50]",
 `age` is "(10, 20]",
 `age` is "(60, 70]",
 `age` is "(50, 60]",
 `age` is "(70, 80]",
 `age` is "(80, 90]",
 `relationship` is "Own-child",
 `relationship` is "Husband",
 `relationship` is "Not-in-family",
 `relationship` is "Unmarried",
 `relationship` is "Wife",
 `relationship` is "Other-relative",
 `race` is "Black",
 `race` is "White",
 `race` is "Asian-Pac-Islander",
 `race` is "Other",
 `race` is "Amer-Indian-Eskimo",
 `workclass` is "Private",
 `workclass` is "Local-gov",
 `workclass` is "nan",
 `workclass` is "Self-emp-not-inc",
 `workclass` is "Federal-gov",
 `workclass` is "State-gov",
 `workclass` is "Self-emp-inc",
 `workclass` is "Without-pay",
 `workclass` is "Never-worked",
 `sex` is "Male",
 `sex` is "Female",
 `native-country` is "United-States",
 `native-country` is "nan",
 `native-country` is "Peru",
 `native-country` is "Guatemala",
 `native-country` is "Mexico",
 `native-country` is "Dominican-Republic",
 `native-country` is "Ireland",
 `native-country` is "Germany",
 `native-country` is "Philippines",
 `native-country` is "Thailand",
 `native-country` is "Haiti",
 `native-country` is "El-Salvador",
 `native-country` is "Puerto-Rico",
 `native-country` is "Vietnam",
 `native-country` is "South",
 `native-country` is "Columbia",
 `native-country` is "Japan",
 `native-country` is "India",
 `native-country` is "Cambodia",
 `native-country` is "Poland",
 `native-country` is "Laos",
 `native-country` is "England",
 `native-country` is "Cuba",
 `native-country` is "Taiwan",
 `native-country` is "Italy",
 `native-country` is "Canada",
 `native-country` is "Portugal",
 `native-country` is "China",
 `native-country` is "Nicaragua",
 `native-country` is "Honduras",
 `native-country` is "Iran",
 `native-country` is "Scotland",
 `native-country` is "Jamaica",
 `native-country` is "Ecuador",
 `native-country` is "Yugoslavia",
 `native-country` is "Hungary",
 `native-country` is "Hong",
 `native-country` is "Greece",
 `native-country` is "Trinadad&Tobago",
 `native-country` is "Outlying-US(Guam-USVI-etc)",
 `native-country` is "France",
 `native-country` is "Holand-Netherlands"]

# Phase 1: Please submit queries in the form "SELECT AVG(X) FROM R WHERE \<predicate\>"

In [6]:
# Phase 1
q1 = Query('education == "Doctorate"', 'high_income', schema)
q2 = Query('education == "Prof-school"', 'high_income', schema)
rho_query = 10.0
es.submit_queries([q1, q2], rho_query)
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 
'display.max_colwidth', 1000):
    display(Markdown('## We submitted two queries'))
    display(HTML(es.show_query_results().to_html(index=False)))

## We submitted two queries

# Phase 2: Ask your question in the form "Why the result of q1 <higher/lower> than the result of q2?"

In [16]:
# Phase 2
question = Question(q1, 'lower', q2)
es.submit_question(question)
ci = es.question_ci()
display(Markdown(f'### Users asks: \n#### {question}'))
display(Markdown(f'### The system first shows: \n#### The {gamma*100:.0f}% confidence interval of the difference is [{ci[0]:.2f}, {ci[1]:.2f}]. Noise is not the reason.'))

### Users asks:
#### Why AVG(high_income) of group education == "Doctorate" is lower than the one of group education == "Prof-school"?

### The system first shows:
#### The 95% confidence interval of the difference is [-0.02, -0.01]. Noise is not the reason.

# Phase 3: Submit your request for the explanation of this question with privacy budget $\rho$.

### We consider the impact function as the normalized difference in the what-if-removed world.
Denote 
$$q_1(D) = q_1^{sum}(D) / q_1^{cnt}(D)$$
$$q_2(D) = q_2^{sum}(D) / q_2^{cnt}(D)$$
$$Impact(p) = (q_1(\neg p(D)) - q_2(\neg p(D))) \cdot min(q_1^{cnt}(\neg p(D), q_2^{cnt}(\neg p(D))$$

### Now we show the explanation table below

In [20]:
# Phase 3
k = 5
display(Markdown(f'### There are {len(predicates)} predicates.'))
display(Markdown(f'### k = {k}.'))
display(Markdown(f'### Below shows the explanation with k+1 predicates including \<no selection\>.'))
rho_expl = 200.0
es.submit_explanation_request(k, rho_expl)
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 
'display.max_colwidth', 1000, 'display.width', None):
    display(es.show_explanation_table())

### There are 94 predicates.

### k = 5.

### Below shows the explanation with k+1 predicates including \<no selection\>.

,predicates,Imp 95-CI L,Imp 95-CI R,Rnk 95-CI L,Rnk 95-CI R
0,"`occupation` is ""Prof-specialty""",16.091991,22.936115,1,1
1,"`age` is ""(30, 40]""",10.878064,17.722188,1,6
2,"`marital-status` is ""Married-civ-spouse""",6.678732,13.522855,2,8
3,"`sex` is ""Male""",4.932796,11.776919,2,9
4,"`relationship` is ""Husband""",3.239965,10.084089,2,10
5,<no selection>,-11.035494,-4.401733,10,91

## Now consider the following metrics for evaluating the explanation table.

#### TOP-K: Report the distance between lowest impact of noisy top-k and the true k-th largest impact.
#### Impact CI: precision (impact CI width) and accuracy (coverage probability)
#### Rank CI: precision (corresponding impact width) and accuracy (coverage probability)

## Another baseline algorithm for the explanation table is given as follows
#### 1. Add gaussian noise to each predicate impact
#### 2. Derive CI for top-k predicate impact
#### 3. Derive CI for top-k predicate rank

In [22]:
es.baseline_submit_explanation_request(k, rho_expl)
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 
'display.max_colwidth', 1000, 'display.width', None):
    display(es.show_explanation_table())

,predicates,Imp 95-CI L,Imp 95-CI R,Rnk 95-CI L,Rnk 95-CI R
0,"`occupation` is ""Prof-specialty""",17.137568,20.958241,1,3
1,"`age` is ""(30, 40]""",10.766482,14.587156,1,7
2,"`sex` is ""Male""",8.157845,11.978518,2,10
3,"`marital-status` is ""Married-civ-spouse""",6.404789,10.225463,2,11
4,"`relationship` is ""Husband""",5.086040,8.906713,2,11
5,<no selection>,-10.356380,-6.535707,11,92

### The noise of baseline grows with $\sqrt{|P|}$, while our solution grows with $\log{|P|}$. Only when we have large size of predicates, our solution is better.

### Now consider predicates with two attributes.

In [39]:
predicates = generate_explanation_predicates(attributes, schema, strategy='1-way marginal')
predicates += generate_explanation_predicates(attributes, schema, strategy='2-way marginal')
es = ExplanationSession(df, schema, gamma, predicates)
display(Markdown(f'### There are {len(predicates)} predicates.'))

### There are 3388 predicates.

In [40]:
# Phase 1
q1 = Query('education == "Doctorate"', 'high_income', schema)
q2 = Query('education == "Prof-school"', 'high_income', schema)
rho_query = 10.0
es.submit_queries([q1, q2], rho_query)

# Phase 2
question = Question(q1, 'lower', q2)
es.submit_question(question)
ci = es.question_ci()

In [41]:
# Phase 3
k = 5
rho_expl = 200.0

In [42]:
#### Our solution of explanation table

In [55]:
es.submit_explanation_request(k, rho_expl)
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 
'display.max_colwidth', 1000, 'display.width', None):
    display(es.show_explanation_table())

,predicates,Imp 95-CI L,Imp 95-CI R,Rnk 95-CI L,Rnk 95-CI R
0,"`occupation` is ""Prof-specialty"" and `sex` is ""Male""",17.728428,28.003636,1,6
1,"`occupation` is ""Prof-specialty"" and `race` is ""White""",15.607631,25.882839,1,14
2,"`marital-status` is ""Married-civ-spouse"" and `occupation` is ""Prof-specialty""",15.725763,26.000971,1,17
3,"`occupation` is ""Prof-specialty""",16.012853,26.288061,1,18
4,"`occupation` is ""Prof-specialty"" and `native-country` is ""United-States""",14.471637,24.746845,1,27
5,<no selection>,-11.336667,-4.699765,49,3386

In [56]:
pprint.pprint(es.measure_explanation_table())

{'imp_ci_width': 9.6688234179994,
 'imp_coverage_prob': 1.0,
 'rnk_ci_width': 13.336693707695693,
 'rnk_coverage_prob': 1.0,
 'topk_score': 27.959063998800943}

In [44]:
#### Baseline solution of explanation table

In [52]:
es.baseline_submit_explanation_request(k, rho_expl)
with pd.option_context('display.max_rows', None, 'display.max_columns', None, 
'display.max_colwidth', 1000, 'display.width', None):
    display(es.show_explanation_table())

,predicates,Imp 95-CI L,Imp 95-CI R,Rnk 95-CI L,Rnk 95-CI R
0,"`occupation` is ""Prof-specialty"" and `sex` is ""Male""",20.821320,43.641227,1,3389
1,"`marital-status` is ""Married-civ-spouse"" and `occupation` is ""Prof-specialty""",18.085822,40.905729,1,3389
2,"`occupation` is ""Prof-specialty""",16.172428,38.992335,1,3389
3,"`marital-status` is ""Married-civ-spouse"" and `native-country` is ""United-States""",15.928774,38.748681,1,3389
4,"`occupation` is ""Prof-specialty"" and `workclass` is ""Self-emp-inc""",13.521044,36.340951,1,3389
5,<no selection>,-23.317782,-0.497875,1,3389

In [54]:
pprint.pprint(es.measure_explanation_table())

{'imp_ci_width': 22.819907049181776,
 'imp_coverage_prob': 0.6666666666666666,
 'rnk_ci_width': 48.169216438168284,
 'rnk_coverage_prob': 1.0,
 'topk_score': 27.959063998800943}

In [46]:
len(es.predicates_with_scores)

3389

### Repeat for 20 times

In [59]:
import pandas as pd

solution_reports = []
baseline_reports = []
for i in range(20):
    es.submit_explanation_request(k, rho_expl)
    solution_reports.append(es.measure_explanation_table())
    
    es.baseline_submit_explanation_request(k, rho_expl)
    baseline_reports.append(es.measure_explanation_table())
solution_reports = pd.DataFrame(solution_reports)
baseline_reports = pd.DataFrame(baseline_reports)

In [62]:
solution_reports.mean()

topk_score           27.959064
imp_coverage_prob     0.983333
imp_ci_width          9.668823
rnk_coverage_prob     1.000000
rnk_ci_width         13.905078
dtype: float64

In [63]:
baseline_reports.mean()

topk_score           27.959064
imp_coverage_prob     0.858333
imp_ci_width         22.819907
rnk_coverage_prob     1.000000
rnk_ci_width         48.169216
dtype: float64